body {
    background-color: rgb(109, 14, 138);
    font-family: 'Josefin Sans', sans-serif;}

div {
    margin: 7em;
    color: fff;
    text-align: center;
}

button {
    border-style: solid;
    border-color: white;
    background: #6d0e8a;
    color: white;
    border-width: thin;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.4em 0.5em 0.3em;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 5em;
}
